.botao{
  background: linear-gradient(180deg, #FFBB00 0%, #E5A40B 100%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px 32px;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: Poppins;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
}
.botao:hover{
  background: linear-gradient(180deg, #FFBB00 0%, #E59317 100%);
}