.header {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 16px 0px;
}

.header-nav a {
  text-decoration: none;
  color: var(--c0);
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

.header-nav a:after{
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  margin-top: 4px;
  background: var(--c0);
}

.header-nav a:hover::after{
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header{
    padding-top: 20px;
  }
  .header-nav{
    gap: 20px;

  }
  .header-nav a{
    border-radius: 4px;
    padding: 12px 16px;
    background-color: var(--c11);
  }
  .header-nav a:hover{
    background-color: var(--c10);
  }

  .header-nav a:after{
    display: none;
  }
}

@media (max-width: 600px) {
  .header-nav{
    gap: 12px;
  }
  .header-nav a{
    border-radius: 4px;
    padding: 8px 12px;
  }
  .header{
    gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .header{
    padding-top: 20px;
  }
  .header-nav{
    justify-content: center;
  }
}
