.intro-bg{
  background-color: #000;
  box-shadow: inset 0 -120px #fff;
}

.intro{
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  gap: 40px;
  position: relative;
}

.intro-conteudo{
  align-self: end;
  margin-bottom: 200px;
}

.intro h1{
  font-family: Poppins;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.125;
  margin-bottom: 32px;
}

.intro p{
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 24px;
  color: #b2b2b2;
}

.intro span{
  color: #ffbb00;
}

.intro img{
  height: 100%;
  object-fit: cover;

}


@media (max-width: 1200px){
  .intro h1{
    font-size: 48px;
  }
  .intro p{
    font-size: 18px;
  }
}

@media (max-width: 800px){
  .intro h1{
    font-size: 32px;
    margin-bottom: 16px;
  }
  .intro img{
    height: 300px;
    width: 100%;
  }
  .intro{
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro-conteudo{
    margin-bottom: 0px;
  }

  .intro-bg{
    background-color: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px;
  }
}

@media (max-width: 600px){
  .intro a{
    padding: 12px 16px;
    font-size: 16px;
  }
}