.seguros-bg {
  background-color: var(--c12);
  padding-bottom: 60px;
  padding-top: 80px;
}
.seguros-bg h2 {
  margin-bottom: 40px;
}
.seguros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
.plano-prata {
  padding: 0px 32px 32px 60px;
}
.plano-prata h3 {
  margin-bottom: 40px;
}
.plano-prata li {
  color: var(--c0);
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
.plano-prata li::before {
  content: url("../../img/icones/lista.svg");
  display: inline;
  position: absolute;
  left: -21px;
}
.plano-prata a {
  margin-top: 12px;
}
.plano-ouro {
  padding: 80px 32px 32px 60px;
}
.plano-ouro h3 {
  margin-bottom: 40px;
}
.plano-ouro li {
  color: var(--c0);
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
.plano-ouro li::before {
  content: url("../../img/icones/lista.svg");
  display: inline;
  position: absolute;
  left: -21px;
}
.plano-ouro a {
  margin-top: 12px;
}
.plano-preco {
  display: flex;
  justify-content: space-between;
}
.valor{
  display: flex;
  flex-direction: column;
  text-align: end;
}

@media (max-width: 800px){
  .seguros{
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .seguros-bg h2{
    padding-left: 81px;
  }
}