.seguros-bg {
  background-color: var(--c11);
  padding-bottom: 120px;
  padding-top: 80px;
}
.seguros-bg h2 {
  margin-bottom: 40px;
}
.seguros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}
#seguros-pagina .seguros-bg{
  padding-top: 0px;
}
.plano {
  padding: 32px 32px 32px 60px;
  background-color: var(--c12);
}
.plano h3 {
  margin-bottom: 40px;
}
.plano li {
  color: var(--c0);
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}
.plano li::before {
  content: url("../../img/icones/lista.svg");
  display: inline;
  position: absolute;
  left: -21px;
}
.plano a {
  margin-top: 12px;
}
.plano-preco {
  display: flex;
  justify-content: space-between;
}
.valor{
  display: flex;
  flex-direction: column;
  text-align: end;
}

@media (max-width: 800px){
  .seguros{
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .seguros-bg h2{
    padding-left: 81px;
  }
  .seguros-bg{
    padding-bottom: 80px;
  }
}